html {
    height: 100%;
}

body {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    left: 5%; right: 5%;
    background-color: #f9faf9;
}

header {
    display: block;
    height: 10%;
    text-align: center;
    background-color: lightgreen;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* ← 이 부분이 핵심 */
    margin-bottom: 2.5%;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.main-title {
    color: white;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.body_profile {
    align-items: center;
    width: 100%;
    height: 40%;
    border-bottom: 1px solid black;
    background-color: #f3f5f3;
    display: center;
}

.body_profile_info {
    text-align: center;
    width: 100%;
    height: 30%;
}

.body_profile_imgBox {
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 75%;
    /* box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3); */
    /* border-bottom: 1px solid grey; */
}

.body_profile_imgBox img {
    width: 90%;
    height: 90%;
    margin: 5%;
    border: 1px solid grey;
    object-fit: cover;

}

.user_name {
    left: 0;
    bottom: 0;
    font-size: 40px;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.main_container {
    display: flex;
    border: 1px solid grey;
    height: 75%;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* ← 이 부분이 핵심 */
    margin-bottom: 2.5%;
}

.main_container_list {
    background-color: lightblue;
    width: 15%;
    height: 100%;
    border-right: 1px solid darkslategrey;
    box-shadow: inset;
}

.menu_list {
    font-size: 20px;
    list-style-type: none;
    width: 100%;
    height: 40%;
    padding-left: 5px;
    
}

.menu_list li {
    color: white;
    border-bottom: 0.5px solid grey; 
    width: 95%;
    margin-bottom: 2.5%;
}

.main_container_contents {
    background-color: snow;
    width: 85%;
    height: 100%;
}

.main_container_top,
.main_container_bottom {
    height: 50%;
    display: flex;
}

.main_container_top h2,
.main_container_bottom h2 {
    margin-left: 5px;
}

.main_today,
.main_week {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    /* border-top: 0.5px solid grey; */
}

.main_table,
.main_diary {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    /* border-top: 0.5px solid grey; */
}

.main_table table_title {
    display: none;
}

footer {
    height: 7.5%;
    background-color: #E3E7E9;
    display: flex;
    justify-content: center;
    align-items: center;
}
